body{
  background-color: rgb(25, 25, 25);
  font-family: arial;
  color: white;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icon{
  height: 50px;
}

.move-button{
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score{
  margin-top: 60px;
}

.reset-score-button{
  background-color: white;
  border: none;
  padding: 8px 15px;
  font-size: 15px;
  cursor: pointer;
}